{% extends 'base.html.twig' %}

{% block content %}

    <div class="container-sm">
        <div class="mt-3">
            <a href="{{ path('produto') }}" class="text-decoration-none"> Página Incial </a>
        </div>

        <div class="card-title">
            <h4 class="card-title"> Confirmação </h4>        
        </div>
    </div>   

    <div class="mx-auto">
        <div> Recebemos seu pedido </div>
    </div>

{% endblock %}